/* Donna Quach, JavaScript 310B, Autumn 2023 */
/* Class 7 Exercises */

.invalid {
    border: 1px solid red;
    background-color: #ffdddd;
}

.hidden {
    display: none;
}

.show {
    display: block; 
}

input:invalid {
    border: 1px solid red; 
}

input:valid {
    border: 1px solid green; 
}